block variables

aside.burger-menu
    img(src="../../../img/svg/cross.svg", alt="button-close" class='button-close')
    ul.burger-list
        each item, i in [{href:"./index.html", content:"Main"}, {href:"./content.html", content:"Content"}]
            li(class=`burger-item`)
                a(href=item.href class=`burger-link ${activeClass === i? 'active': ''}`)= item.content 