mixin card(title, image)
    .card 
        .card-title= title
        .card-image 
            img(src=`./img/${image}`, alt="photo")
        .card-desc
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi id repellendus, laudantium distinctio saepe nostrum qui officia debitis? Tempore veritatis dolore, ea vel tenetur facere magnam ex iste dolores similique?Vel doloribus maxime quo ullam hic voluptates! Impedit deserunt cum molestiae temporibus maxime, obcaecati nam dignissimos est autem enim recusandae fuga id porro eaque saepe rem quis quasi quaerat aliquid.